// --------------------------------------
// COLORS
// --------------------------------------
$primary-color: #fff;
$secondary-color: #000;
$alter-bg: #e5e7eb;

// --------------------------------------
// SPACING SCALE (REM-BASED)
// --------------------------------------
$space-0_5: 0.5rem;
$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;
$space-4: 4rem;
$space-5: 5rem;
$space-10: 10rem;

// --------------------------------------
// SPACING SCALE (PX-BASED)
// --------------------------------------
$gap-1: 3px;
$gap-2: 5px;
$gap-3: 10px;
$gap-4: 15px;
$gap-5: 20px;

// -------------------------------------
// LAYOUT POSITION
// -------------------------------------
