@media (max-width: 860px) {
  .gallery-items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 250px);
  }

  .gallery-item {
    & {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
    &:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    &:nth-child(5) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    &:nth-child(4) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    &:nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    &:nth-child(6) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
    &:nth-child(7) {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
    &:nth-child(8) {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
    }
    &:nth-child(9) {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }
  }
  .showcase-items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 250px);
  }

  .showcase-item {
    & {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
    &:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    &:nth-child(5) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    &:nth-child(4) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    &:nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    &:nth-child(6) {
      grid-column: 1 / 3;
      grid-row: 3 / 5;
    }
  }

  .section-title {
    max-width: 80%;
    margin: 0 auto;
  }
  .section-intro {
    max-width: 90%;
    margin: 0 auto;
  }
}
