body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  /* $logo-font: "Playfair Display", serif; */
  /* font-family: "Courier New", Courier, monospace; */
}
