@use "./utilities/variables" as v;
@use "./components/buttons";
@use "./components/layout";
@use "./breakpoints/desktop.scss";

// .layout {
//   width: 100%;
//   padding: 0 v.$gap-4;
// }
.logo {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
.hero {
  position: relative;
  color: v.$primary-color;

  //   &-img {
  //     position: absolute;
  //     left: 0;
  //     right: 0;
  //     top: 0;
  //     bottom: 0;
  //   }

  // &-content {
  //   position: absolute;
  //   top: 50%;
  //   left: 10%;
  // }
}
.section-title {
  max-width: 40%;
  margin: 0 auto;
}
.section-intro {
  max-width: 70%;
  margin: 0 auto;
}

.showcase-items {
  display: grid;
  grid-gap: v.$gap-3;
  margin: v.$space-2 0;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 300px);
}

.showcase-item {
  & {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
  }
  &:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  &:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
  }
  &:nth-child(5) {
    grid-column: 5 / 8;
    grid-row: 1 / 2;
  }
  &:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  &:nth-child(3) {
    grid-column: 5 / 8;
    grid-row: 2 / 3;
  }
  &:nth-child(6) {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  }
}

.gallery-items {
  display: grid;
  grid-gap: v.$gap-3;
  margin: v.$space-2 0;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 300px);
}

.gallery-item {
  & {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
  }
  &:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  &:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
  }
  &:nth-child(5) {
    grid-column: 5 / 8;
    grid-row: 1 / 2;
  }
  &:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  &:nth-child(3) {
    grid-column: 5 / 8;
    grid-row: 2 / 4;
  }
  &:nth-child(6) {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  }
  &:nth-child(7) {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
  }
  &:nth-child(8) {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
  }
  &:nth-child(9) {
    grid-column: 5 / 8;
    grid-row: 4 / 5;
  }
}

.package {
  &-container {
    font-family: "Inter", sans-serif;
  }
}

.review-text {
  font-family: "Playfair", serif;
  font-style: italic;
}
// .hamburger {
//   position: relative;
//   width: 24px;
//   height: 24px;

//   &-top,
//   &-middle,
//   &-bottom {
//     position: absolute;
//     width: 24px;
//     height: 2px;
//     background: #fff;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 9;
//   }
//   &-middle {
//     transform: translateY(7px);
//   }
//   &-bottom {
//     transform: translateY(14px);
//   }
// }
@import "./breakpoints/tablet.scss";
@import "./breakpoints/mobile.scss";
